extends installLayout

block content
  
  h1 填写mysql信息

  form(action="/install/install-step2" method="POST")
    input(type="text" name="host" placeholder="请输入主机地址，一般为localhost")
    br
    br
    input(type="text" name="database" placeholder="数据库")
    br
    br
    input(type="text" name="user" placeholder="请输入mysql用户名")
    br
    br
    input(type="pass" name="password" placeholder="请输入mysql密码")
    br
    br
    h2 管理员信息
    input(type="adminuser" name="text" placeholder="请输入管理员账号")
    br
    br
    input(type="adminpasswd" name="password" placeholder="请输入管理员密码")
    br
    br
    button(type="submit") 提交 
    button(type="reset") 重置
